<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="card">
    <div class="card-header ">
      <!-- <p>{{nameInput.value}}</p>-->
      <h1 [style.color] = "nameColor" [class.isActive] = "isActive"> Welcome {{ customer.name.toUpperCase() }}! </h1>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-8">
          <p>{{customer.description}}</p>
          <p>Wiek: {{customer.age}}</p>
          <p>Adres: {{customer.address.street}}, {{customer.address.houseNumber}}, {{customer.address.city}}</p>
          <p><button class="btn btn-primary" (click) = "isActive = !isActive" type="button">Przełącz podkreślenie</button></p>
          <button class="btn btn-primary" (click) = "changeColor()" type="button">Przełącz kolor nagłówka</button>
        </div>
      <div class="col-sm-4">
          <img [src] = "customer.photoUrl">
      </div>
    </div>
  </div>
      <!--<input type="text" [value] = "name" (input) = "name = $event.target.value" />-->
      <!--zmienne szablonowe-->
      <!--<input #nameInput type="text" [value] = "customer.name" (input) = "customer.name = nameInput.value" />-->
      <!--<input type = "text" [(ngModel)] = "customer.name" [ngModelOptions] = "{updateOn: 'blur'}" />-->
  
  </div>
</div>
